<!-- look into using form action="" ... probably important .... -->
{% extends "base.html" %}
{% block title %} {{activity.name}} {% endblock title %}
{% block content %}

	<h1>  {{activity.name }} Instance </h1>
	<p> {{ form.note }} </p>
	<form action="" method="POST">
		{{ form.as_p }}
		{% csrf_token %}
		<b>Rate this instance of {{activity.name}}</b>
		<ul>
		{% for r in rForms %}
			<b>{{ r.name }} </b>
			{{ r.as_p }}
			{% csrf_token %}
		{% endfor %}
		</ul>
	<input type="submit" value="Submit">
	</form>
{% endblock content %}
	  

