{% extends "base.html" %}

{% block title %} Activities for {{user}} {% endblock title %}

{% block content %}
<h1> Welcome to life-tracker </h1>
<p> Welcome to life-tracker, you're go-to app for documenting the happenings in your life. </p>

<h4> Life-tracker Home </h4>

<p>
On this page, I will be posting news, updates, deprecations and other relevant points about the life-tracker and related subjects. If I don't like that, I will make this homepage different. Not sure yet though. 
</p>

{% endblock content %}
