{% extends "base.html" %}

{% block title %} Activities for {{user}} {% endblock title %}

{% block content %}
<h1> Welcome to life-tracker </h1>
<p> Welcome to life-tracker, you're go-to app for documenting the happenings in your life. </p>

<h4> How to use life-tracker </h4>
<p>
Using Life-Tracker is simple. First, you create an “Activity,” which is a broad category for anything that you do on a regular basis. The best examples are eating, working-out and studying. For the purposes of this tutorial, let's imagine that you would like track your sleeping patterns. To do this, you would create an activity "Sleeping.” 
Now that you have an activity, you can add rating criterias. Rating criterias are a personal tool for analyzing your activity. A rating criteria has two parts: the question and the response. For sleep, good rating criterias would be something like "How deep was your sleep?", "How many times did you wake up through the night?" or "On a scale of 1-10, how violent were your dreams?" At this point in development, responses are restricted to integers. 
<br>
<br>
After creating rating criterias for your activity, you can now record instances of the activity. An instance is simply a record of a single time that you performed the activity - so each night of sleep would be a different instance of the activity of “sleeping.” When you record an instance of an activity, you have the option to answer a few questions. You can record the start time, end time, the length of the activity and provide a short log describing the instance. The log is optional, but
often useful for later analysis. For example, for your Sleeping activity, you could log the content and mood of your dreams. Or quantify that and put it in a rating criteria - the choice is yours. 
Be sure that when you record the start and end time, you check the box indicating so; and likewise for the length. If you don't provide the duration of the instance of the activity, life-tracker will calculate it for you, but it cannot perform the reverse task: calculating the start and end time from the length. 
When you fill out an instance of an activity, you will also fill out all the rating criterias for your activity. 
The beauty of this system is you see how your activities changed over time. For example, if for the activity “Sleeping” you create the rating criteria "How deep was your sleep on a scale of 1-10", you can construct a line graph that shows how your deep sleep changed over time. Even cooler, you can add in the other data that you recorded. Perhaps the length of your sleep had an impact on the deepness of your sleep? Perhaps that only occurs on weekdays but not weekends? Life-tracker will help
you answer these questions. 
<br>
<br>
You can also download the data CVS, JSON, or XML format to view the data in another program, like excel. 
If you haven't done so yet, head over to create an account, put in a few of your favorite activities and get Life-Trackin’!
</p>

{% endblock content %}
