{% extends "base.html" %}
{% block title %} Activity Detail {% endblock title %}
{% block content %}
<h1> {{ activity }} Instance Detail </h1>
	<ul>
		<li> <a href="{% url "activityInstance_edit" activity.id activityInstance.id %}">Click here to edit this instance</a> </li>
		<li> User: {{ activity.user }} </li>
		<li> Activity Name: <a href="{% url "activity_detail" activity.id %}">{{ activity.name }} </a></li>
			{% if activityInstance.isTimeAccurate %}
		<li> Start Time: {{activityInstance.startTime}} </li>
		<li> End Time: {{activityInstance.endTime}} </li>
			{% endif %}
			{% if activityInstance.isLengthAccurate %}
		<li>Length:
		<ul>
			<li> Days: {{ activityInstance.length_days }} </li>
			<li> Hours: {{ activityInstance.length_hours }} </li>
			<li> Minutes: {{ activityInstance.length_minutes }} </li>
			<li> Seconds: {{ activityInstance.length_seconds }} </li>
		</ul>
		</li>
			{% endif %}
		<li> log: <p>{{ activityInstance.log }} </p></li>
		</ul>

	<h3> Ratings </h3>
	<ul>
		{% for rI in activityInstance.rateActivityInstances.all %}
		<li>{{ rI.rateActivity.name }}: {{rI.rating }} </li>
		{% endfor %}
	</ul>
{% endblock content %}
	  

