{% extends "base.html" %}

{% block title %} Activities for {{user}} {% endblock title %}

{% block content %}
<div class="row">
	<h1>Help Page</h1>
	<p>If you are having difficulty with the website, email me at a.led1027@gmail.com or contact me on facebook. The website is currently in development, and as such there are numerous unavailable features. Hopefully, the development team, aka me, will work diligently to crank out additional features. Until then, look forward to these upcoming amazing features. 
	<ol>
		<li>1. Ability to edit activities, activity instances, rating criterias and all submitted data</li>
		<li>2. Interactive Graphs</li>
		<li>3. Ability to download recorded data in JSON, CSV, and pdf format. That means you can import your data in other programs for more in depth analysis. CSV imports well into Excel and other spreadsheet programs. </li>

	</ol>
	</p>
</div>
{% endblock content %}
	  

