{% extends "base.html" %}

{% load staticfiles %}

{% block title %} {{ activity.name }} {% endblock title %}
{% block content %}
<div class="row">
	<h1> {{activity.name }} </h1>
		<a href="{% url "rateActivity_form"  activity.pk  %}"> Add a new rating criteria</a>
		</br>
		<a href="{% url "activityInstance_form"  activity.pk  %}"> Record an instance of this activity </a>
		</br>
		</br>
</div>

<div class="row">
	<div class="col-md-4"> hi </div>
	<div class="col-md-4"> hi </div>
		<ul class="">
			{% for activityInstance in activity.activityInstances.all %}
			<ul> 
				<li> <a href="{% url "activityInstance_detail" activity.id activityInstance.id %}">View activity instance</a></li>
					{% if activityInstance.isTimeAccurate %}
				<li> Start Time: {{activityInstance.startTime}} </li>
				<li> End Time: {{activityInstance.endTime}} </li>
					{% endif %}
					{% if activityInstance.isLengthAccurate %}
				<li>Length:
				<ul>
					<li> Days: {{ activityInstance.length_days }} </li>
					<li> Hours: {{ activityInstance.length_hours }} </li>
					<li> Minutes: {{ activityInstance.length_minutes }} </li>
					<li> Seconds: {{ activityInstance.length_seconds }} </li>
				</ul>
				</li>
					{% endif %}
					<p> should rating criteria stuff here <p>
				<li> log: <p>{{ activityInstance.log }} </p></li>
			</ul>
			</li>
			{% endfor %}
		</ul>
		<ul>
			{% for r in activity.rateActivities.all %}
			<li> <a href="{% url "rateActivity_detail" activity.id r.id %}"> {{ r.name }} </a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock content %}
