{% extends "base.html" %}

{% block title %} Activities for {{user}} {% endblock title %}

{% block content %}
<h1> Activities for {{user}} </h1>

	<p><a href="{% url "activity_form" %}">Add a new activity</a></p>
	{% for activity in activities %}
	<h3> <a href="{% url "activity_detail" activity.id %}">{{ activity.name }}</a></h3>
		<ul>
			<li> <a href="{% url "activityInstance_form"  activity.pk  %}"> Record an instance of this activity </a>. </li>
			<li> <a href="{% url "rateActivity_form"  activity.pk  %}"> Add a new rating criteria </a> </li>
			<b>Rate Activity Criterias </b>
			<ul>
				{% for r in activity.rateActivities.all %}
				<li> <a href="{% url "rateActivity_detail" activity.pk r.pk %}">{{ r.name }}</a></li>
				{% endfor %}
			</ul>
		</ul>
	{% endfor %}
{% endblock content %}
	  

