<!DOCTYPE html>

<html lang="en">

<head>
	{% load static %}
	<!-- For not using Amazon S3 for static hosting

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}"          media="screen">
	<link rel="stylesheet" href="{% static "assets/css/default.css" %}"                media="screen">
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/ajax.js" %}"></script>
	-->

	<link rel="stylesheet" href="http://life-tracker.s3-website-us-west-2.amazonaws.com/static/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="http://life-tracker.s3-website-us-west-2.amazonaws.com/static/css/default.css" media="screen">
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://life-tracker.s3-website-us-west-2.amazonaws.com/static/js/bootstrap.min.js"></script>
	<script src="http://life-tracker.s3-website-us-west-2.amazonaws.com/static/js/ajax.js"></script>


	<!-- For other slides images pictures thing
	<script src="{% static "assets/js/jquery-2.0.0.min.js" %}"></script> 
	<script src="{% static "assets/js/jquery.slides.min.js" %}"></script>
	<script src="{% static "assets/js/my-slides-js.js" %}"></script> -->
	{% load static %}
	{% block head %}
	{% endblock head %}
	<title>{% block title %}LifeTracker{% endblock %}</title>
</head>
<!-- SIDEBAR NAVIGATION (NOT IN BLOCK) -->
<nav class = "navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li class="active"> <a class="brand" href="{% url "home" %}">Life-Tracker</a> </li>
				<li><a href="{% url "activity_list" %}">My Activities</a></li>
				<li><a href="{% url "about" %}">About</a></li>
				<li><a href="{% url "help" %}">Help</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url "accounts" %}">My Account</a></li>
				{% else %}
				<li><a href="{% url "login" %}">Sign In</a></li>
				{% endif %}
				<!-- For a dropdown menu 
				<li class="dropdown">
					<a href="#"
						class="dropdown-toggle"
						data-toggle="dropdown">
						Services 
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
					</ul>
				</li> -->
			<form class="navbar-serach pull-left">
				<input type="text" class="search-query" placeholder="Search">
			</form>
			</ul>
			<ul class="nav pull-right">
				<li class-"dropdown">
					<a href="#"
						class="dropdown-toggle"
						data-toggle="dropdown">
						Social
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li class="socials">
						<g:plusone annotation="inline" width="150"></g:plusone>
						</li>
						<li class=socials">
							<div class="fb-like" data-send="false" data-width="150:" data-show-faces="true"></div></li>
						<li class="socials"><a href="https://twitter.com/share" class-"twitter-share-button">Tweet</a>
						<script>!function(d,s,id){var js, fjs=d.getElementByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);}}(document,"script","twitter-wjs");</script></li> 
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<body>
	<div class="container">
		{% block content %}
		{% endblock content %}
	</div>
</body>
</html>
