{% extends "base.html" %}

{% block title %} Chart {% endblock title %}

{% block head %}
	<script type="text/javascript">
	$(window).load(function() {
		$(function() {
			var d3 = {{ js_data }}
			$.plot("#placeholder", [d3]);
			$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
		});
	});
	</script>
	{% endblock %}

	{% block content %}
	<h2>Basic Usage</h2>

	<div id="placeholder" style="width:600px;height:300px;"></div>


	<div id="footer">
		Copyright &copy; 2007 - 2013 IOLA and Ole Laursen
	</div>
	{% endblock %}
