{% extends "base.html" %}

{% block title %} Accounts Home {% endblock %}

{% block content %}
<h2>  Accounts Home </h2>
<ul>
	<li><a href="{% url "login" %}">Login</a></li>
	<li><a href="{% url "logout" %}">Logout</a></li>
	<li><a href="{% url "register_user" %}">Create new account</a></li>
	<li> Check out the source code on github: <a href="http://www.github.com/aled1027/life-tracker/">http://www.github.com/aled1027/life-tracker</a></li>
	<li> For further assistance or to report an issue, email me at asdl;fjasd@gmail.comasjd;lfkj </li>
</ul>

<h4> User Information: </h4>
{% if user.is_authenticated %}
	<ul>
		<li>Username: {{ user.username }} </li>
		
		{% if user.email %}	<li>Email: {{user.email}} </li> {% endif %}
{% else %}<a href="{% url "login" %}">Login</a>
{% endif %}

{% endblock %}
