{% extends "base.html" %}

{% block title %} Life-tracker {% endblock %}

{% block content %}
<h2>  Life-tracker </h2>
<ul>
	{% if not user.is_authenticated %}
		<li><a href="{% url "login" %}">Login</a></li> 
		<li><a href="{% url "register_user" %}">Create new account</a></li>
	{% else %}
		<li><a href="{% url "logout" %}">Logout</a></li>
	{% endif %}
</ul>

<h4> User Information: </h4>
{% if user.is_authenticated %}
	<ul>
		<li>Username: {{ user.username }} </li>
		
		{% if user.email %}	<li>Email: {{user.email}} </li> {% endif %}
		<p> add other useful things, like date account was created, last login, etc. </p>
{% else %}<a href="{% url "login" %}">Login</a>
{% endif %}

{% endblock %}
